<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgm.server.mapper.JobtitleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgm.server.pojo.Jobtitle">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="job_title" property="jobTitle" />
        <result column="is_enabled" property="isEnabled" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, job_title, is_enabled, create_time, update_time
    </sql>

    <select id="listJobTitles" resultMap="BaseResultMap">
        SELECT
        id,
        name,
        job_title,
        is_enabled,
        create_time,
        update_time
        FROM
        t_jobtitle
        <where>
            <if test="conditionVO.keywords != null">
                name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
        LIMIT #{current}, #{size}
    </select>

</mapper>
