<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgm.server.mapper.TranssalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgm.server.pojo.Transsalary">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="after_salary" property="afterSalary" />
        <result column="before_salary" property="beforeSalary" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, after_salary, before_salary, status, create_time, update_time
    </sql>
    <select id="listTransSaralys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_transsalary t
        <where>
            <if test="conditionVO.keywords != null">
                name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
        LIMIT #{current}, #{size}
    </select>

</mapper>
